.contenedor-logo-navbar {
    width: 100%;
    height: 9vh;
    background: white;
    border-bottom: .5px solid #BEBEBE;
 }
 .logo-principal {
    height: 9vh;
    margin-left: 16px;
 }

 .nav-item {
    height: 9vh;
    line-height: 7vh;
    padding: 0;
 }
 .nav-link {
     display: block;
     padding: 0 1em !important;
     width: 100%;
     line-height: 9vh;
 }
 .nav-item:hover {
    background: #2E2E2E;
 }
 .nav-link:hover {
    color: white !important;
    
 }
 li {
    padding: 0px 1em;
 }
 .menu-desplegable {
     /* position: absolute; */
     position: fixed;
     display: none;
     top: 9vh;
     /* left: 560px; */
     width: 100%;
     height: 100vh;
     background: #2E2E2E;
     color: white;
     font-size: 30px;
     font-weight: 600;
     z-index: 12;
     text-align: center;
 }
 .ul-desplegable {
     list-style: none;
     padding: 20px 20px;
     /* margin:auto; */
 }
 .ul-desplegable > li{
    margin-bottom: 2em;
    border-bottom: 1px solid #BEBEBE;
 }







#text-slide{
    transition: width 2s;
}

a{
    cursor: pointer;
}
h1{
    font-family: Source Sans Pro;
font-style: normal;
font-weight: 300;
font-size: 36px;
line-height: 100%;
}

#hablanos-btn{
    position: fixed;
    bottom: 1rem;
    right: 1.5rem;
    padding: .4rem 2rem;
    background: #000000;
    border-radius: 10px;
    font-family: Lato;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 22px;
    color: white;
    cursor: pointer;
    z-index: 10;
}
#hablanos{
    position: fixed;
    bottom: 1rem;
    right: 1.5rem;
    z-index: 11;
}

.titulo{
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 100%;    
    text-align: center !important;
    margin: 3rem 0;
    color: white;
}


.barra-de-navegacion{
    height: 50px;
    border-bottom: 1px solid #EEEEEE;
    position: fixed;
    top: 0;
    padding: 0 2rem;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    z-index: 1;
    background-color: white;
}

.barra-de-navegacion .menu {
    display: none;
    margin-right: -1.5rem;
    height: 100%;
}
.barra-de-navegacion > .menu a{
    padding: 0 1.5rem;
    display: flex;
    align-items: center;
    font-family: Lato;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;    
}
.barra-de-navegacion > .menu a:hover{
    background-color: #383838;
    color: white !important;
}
.boton-menu {
    display: block;
    color: black;
    border: .5px solid #848484;
    padding: 10px;
    border-radius: 8px;
}
.barra-de-navegacion > .row {
    width: 100%;
    height: 50px;
}

.header{
    height: 100vh;
}

.servicios{
    position: relative;
}
.servicios .cartas .carta{
    height: 10rem;
    margin-bottom: .5rem;
    display: flex;
    background-color: white;
    border-radius: 5px;
    padding: 0 1rem;
}

.servicios .cartas :last-child .carta{     
    margin-bottom: 0;
}

.servicios .cartas .carta .imagen {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
    width: 40%;
}
.servicios .cartas .carta img {
    max-width: 100%;
    max-height: 75%;   
}
.servicios .cartas .carta .descripcion {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 60%;

    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
}
.servicios::before{
    height: 115%;
    content: "";
    position: absolute;
    z-index: -1;
    width: 100%;
    -webkit-transform: skewY(-10deg);
    transform: skewY(-5deg);
    background: #f6f9fc;
    margin-top: -5rem;
    background: linear-gradient(180deg, #0C5DD7 0%, #24B7EA 99.37%, #2ACBEE 99.38%);
}
.servicios .cartas {
    background: rgba(255, 255, 255, 0.3);
    padding: 1rem 0;
}
.servicios .enlace{
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: white;
    text-decoration: none;
    margin: 3rem;
}




.obtienes{
    padding: 5rem 0;
}

.obtienes .cuadro-negro-titulo{
    background: #323232;
}
.obtienes .cuadro-azul{
    background: linear-gradient(93.35deg, #2179FE 0.9%, #2ACBEE 98.97%);
    height: 100%;
}

.obtienes .cuadro-negro-abajo{
    background: #323232;
    height: 2rem;
    z-index: -1;
}

.obtienes .cartas .carta{
    background: white;
    margin-bottom: 1rem;
    height: 20rem;
    padding: 0 1rem;
}

.obtienes .cartas .carta .imagen{
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.obtienes .cartas .carta .descripcion{
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.obtienes .cartas .carta .enlace{
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #004DFF;
}

.obtienes .cartas .carta .imagen img {
    max-width: 100%;
    max-height: 95%;   
}


.obtienes .cartas :first-child .carta{
    margin-top: -1rem;
}

.obtienes .cartas :last-child .carta{
    margin-bottom: -1rem;
}


.footer {
    width: 100%;
    height: auto;
    background: black;
 }
 .contenedor-footer{
    width: 100%;
    height: auto;
    padding: 20px 0;
 }
 .contenedor-footer h4 {
     font-size: 20px;
 }






/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px){
    .servicios .cartas .carta{     
        margin-bottom: .5rem;
    }
    .servicios .cartas :last-child .carta{     
        margin-bottom: 0;
    }

    .obtienes .cartas .carta{
        margin-top: -1rem;
        margin-bottom: -1rem;
    }
    .boton-menu {
        display: none;
    }
    .menu-desplegable {
        display: none !important;
    }
    
 }

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .servicios .cartas :nth-last-child(-n+2) .carta{
        margin-bottom: 0;
    }


    .obtienes .cartas .carta{
        margin-top: -1rem;
        height: 25rem;
        margin-bottom: -1rem;
    }

    .titulo{
        font-size: 2.25rem;
    }
    .barra-de-navegacion .menu {
        display: flex;
    }
    
 }



/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .servicios .cartas .carta{
        flex-direction: column;
        height: 16rem;
        margin-bottom: 0;
    }
    .servicios .cartas .carta .imagen{
        width: 100%;
        height: 60%;
    }
    .servicios .cartas .carta .descripcion{
        width: 100%;
        height: 40%;
    }
    .servicios::before{
        height: 130%;
    }


}